{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <strong>    {{ user_record.first_name }}
        {{ user_record.last_name }}</strong>
    </div>
    <div class="card-body">
        <p class="card-title"><strong>Email: </strong>{{ user_record.email }}</p>
        <p class="card-title"><strong>Phone: </strong>{{ user_record.phone }}</p>
        <p class="card-title"><strong>Address: </strong>{{ user_record.address }}</p>
        <p class="card-title"><strong>City: </strong>{{ user_record.city }}</p>
        <p class="card-title"><strong>State: </strong>{{ user_record.state }}</p>
        <p class="card-title"><strong>Zipcode: </strong>{{ user_record.zipcode }}</p>
        <p class="card-title"><strong>Created at: </strong>{{ user_record.created_at}}</p>
        <p class="card-title"><strong>ID: </strong>{{ user_record.id }}</p>
        
    </div>
</div>

<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back Home</a>

<a href="{% url 'delete_record' user_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' user_record.id %}" class="btn btn-secondary">Update Record</a>




    
    

{% endblock %}